*{
  padding: 0;
  margin: 0;
   box-sizing: border-box;
}
body{

  display: flex;
justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: all 0.2s ease;
   background-color: aqua;
}
.container{
  background-color: #333;
  width: 25rem;
  height: 10rem;
   border-radius: 50px;
  display: flex;
 justify-content: center;
  align-items: center;
}

.light{
  background-color: #000;
   border-radius: 100%;
  position: relative;










